.DS_*
._*
.idea
.cache/
.config/
ehthumbs.db
Thumbs.db
.composer
.bash_history
.viminfo
*.log

node_modules

/app
/data
/assets-test
GeoLite2-City.mmdb
GeoLite2-City.mmdb.gz

.ddev/.env
.ddev/testkit.yaml
.ddev/docker-compose.*.yaml
.claude/
