.DS_*
._*
.idea
.cache/
.config/
ehthumbs.db
Thumbs.db
.composer
.bash_history
.viminfo
*.log

node_modules

/app
/data
/assets-test
GeoLite2-City.mmdb
GeoLite2-City.mmdb.gz

.ddev/.env
.ddev/testkit.yaml
.ddev/slots.json
.ddev/fpm/
.ddev/apache/testkit-slots.conf
.ddev/docker-compose.databases.yaml
.ddev/docker-compose.services.yaml
.ddev/docker-compose.mounts.yaml
.ddev/scripts/__pycache__/
