# no variables inside allowed!
TEST_BUNDLE_LOCAL_PATH=/home/to/Your/Project/opendxp.io/skeleton/lib
OPENDXP_CODECEPTION_FRAMEWORK_LOCAL_PATH=/home/to/Your/Project/opendxp.io/skeleton/lib/opendxp-codeception-framework

# define current bundle directory
TEST_BUNDLE_DIR_NAME=formbuilder-bundle